<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Banking</title>
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

	
	

</head>
<body ng-app="banking" class="container-fluid"  ng-controller="showTransactionHistoryCtrl" >
	<h1>Banking</h1>
	<div ng-controller = "informationCtrl" class="form-inline">
		
		<div class="form-group">
			<label>Enter your name: </label>
			<input type="text" class="form-control" placeholder="Enter your name" ng-model="info.name">
		</div>

		<div class="form-group">
			<label>Enter your balance: </label>
			<input type="text" class="form-control" placeholder="Enter your balance" ng-model="info.balance">
		</div>
		
		<button type="button" class="btn btn-primary" ng-value
		ng-click="addNewCustomer(info.name, info.balance)">Add</button>
		<br><br>
		My name is : {{info.name}}<br>
		Your balance is : {{info.balance | currency}}<br>
	</div>
	<br>
	
	<hr>

	<table class="table table-hover" ng-controller = "informationCtrl">
		<thead class="row">
			<tr>
				<th class="col-md-3 text-center">Id</th>
				<th class="col-md-3 text-center">Customer</th>
				<th class="col-md-3 text-center">Balance</th>			
				<th class="col-md-3 text-center"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat=
			"customer in info.customers">
				<td class="text-center">{{customer.id}}</td>
				<td class="text-center">{{customer.name}}</td>
				<td class="text-center">{{customer.balance}}</td>
				<td class="text-center"><button class="btn btn-primary" ng-click="showTransactionHistory(customer.id)">Show</button></td>
			</tr>
		</tbody>
	</table>

	

	<hr>

	<h2>Payments History</h2>
	<table class="table table-stripped">
		<thead>
			<tr>
				<td>ID</td>
				<td>Time</td>
				<td>Amount</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="transaction in transactionHistory" >
				<td>{{transaction.id}}</td>
				<td>{{transaction.time}}</td>
				<td>{{transaction.amount}}</td>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript" src="app/app.module.js"></script>
	<script type="text/javascript" src="account/account.js"></script>
	<script type="text/javascript" src="transaction/transaction.js"></script>
</body>
</html>