<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> -->

    <title>Banking Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="assets/css/app.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">


    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    
    <script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
    
</head>

<body ng-app="bankingApp">



    <div id="background-login">
        <div class="intro-text text-center">
            <div class="intro-lead-in">Welcome To Hop eBanking!</div>
            <div class="intro-heading">Money in the best safe</div>
            <button type="button" class="btn btn-xl"  data-toggle="modal" data-target="#loginModal">Login</button>
        </div>
    </div>

    <div id="loginModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="error" class="alert alert-danger">{{error}}</div>

                    <form name="LoginForm" novalidate ng-submit="login()" role="form">
                        
                        <div class="form-group" ng-class="{'has-error' : LoginForm.username.$dirty && LoginForm.username.$error.required}">
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" ng-model="username" required>

                            <div ng-messages="LoginForm.username.$error" class="error">
                                <div ng-message="required">Please enter a value</div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error' : LoginForm.password.$dirty && LoginForm.password.$error.required}">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" ng-model="password" required>

                            <div ng-messages="LoginForm.username.$error" class="error">
                                <div ng-message="required">Please enter a value</div>
                            </div>
                        </div>

                        <div>
                            <input type="submit" class="btn btn-primary" value="Login" ng-disabled="LoginForm.$invalid">
                            <a href="#home" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="app/app.module.js"></script>

    <!-- Load Controllers -->
    <script type="text/javascript" src="app/components/register/RegisterController.js"></script>
    <script type="text/javascript" src="app/components/login/LoginController.js"></script>
    <script type="text/javascript" src="app/components/customer/CustomerController.js"></script>

    <!-- Load Services -->
    <script type="text/javascript" src="app/shared/list_transaction/ListTransactionService.js"></script>
    <script type="text/javascript" src="app/shared/list_account/ListAccountService.js"></script>

</body>

</html>
