<div  class="col-sm-4 col-sm-offset-4" >	

	<h2>Login</h2>
	<div ng-show="error" class="alert alert-danger">{{error}}</div>

	<form name="LoginForm" novalidate ng-submit="login()" role="form">
		
		<div class="form-group" ng-class="{'has-error' : LoginForm.username.$dirty && LoginForm.username.$error.required}">
			<label>Username</label>
			<input type="text" name="username" class="form-control" ng-model="username" required>

			<div ng-messages="LoginForm.username.$error" class="error">
				<div ng-message="required">Please enter a value</div>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error' : LoginForm.password.$dirty && LoginForm.password.$error.required}">
			<label>Password</label>
			<input type="password" name="password" class="form-control" ng-model="password" required>

			<div ng-messages="LoginForm.username.$error" class="error">
				<div ng-message="required">Please enter a value</div>
			</div>
		</div>

		<div>
			<input type="submit" class="btn btn-primary" value="Login" ng-disabled="LoginForm.$invalid">
			<a href="#home" class="btn btn-link">Cancel</a>
		</div>
	</form>
</div>

