<div  class="col-md-4 col-sm-4 col-xs-offset-4 col-xs-offset-4" >	

	<h2>Login</h2>
	<div ng-controller="LoginController">
		<div class="form-group">
			<label for="username">Id Account</label>
			<input type="text" class="form-control" ng-model="idAccount">
			<span>Id Account is required</span>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="text" class="form-control" ng-model="password">
			<span>Password is required</span>
		</div>
		<div>
			<a class="btn btn-primary" ng-click="login()">Login</a>
			<a href="#home" class="btn btn-link">Cancel</a>
		</div>
	</div>
</div>