
<div id="loginModal" class="modal fade" ng-controller="LoginController">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>

            <div class="modal-body">
                <div ng-show="error" class="alert alert-danger">{{error}}</div>

                <form name="LoginForm" novalidate role="form" ng-submit="login()">

                    <div class="form-group" ng-class="{'has-error' : LoginForm.username.$dirty && LoginForm.username.$error.required}">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" ng-model="username" required>

                        <div ng-messages="LoginForm.username.$error" class="error">
                            <div ng-message="required">Please enter a value</div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error' : LoginForm.password.$dirty && LoginForm.password.$error.required}">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" ng-model="password" required>

                        <div ng-messages="LoginForm.password.$error" class="error">
                            <div ng-message="required">Please enter a value</div>
                        </div>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-primary" value="Login" ng-disabled="LoginForm.$invalid">

                        <a href="#home" class="btn btn-link" data-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>