<div  class="col-md-4 col-sm-4 col-xs-offset-4 col-xs-offset-4" >	

	<h2>Register</h2>
	<div ng-controller="RegisterController">
		<div class="form-group">
			<label for="username">Register</label>
			<input type="text" class="form-control" ng-model="username">
			<span>Username is required</span>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="text" class="form-control" ng-model="password">
			<span>Password is required</span>
		</div>
		<div>
			<a class="btn btn-primary" ng-click="register()">Register</a>
			<a href="#home" class="btn btn-link">Cancel</a>
		</div>
	</div>
</div>