<div  class="col-sm-4 col-sm-offset-4" >	
	
	<h2>Register</h2>
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<form name="RegisterForm" novalidate ng-submit="register(username)">
		<div class="form-group has-feedback" ng-class="{'has-error' : RegisterForm.username.$dirty && RegisterForm.username.$invalid}">
			<label>Your username</label>
			<input type="text" name="username" class="form-control" ng-model="username" required username-available ng-model-options="{ updateOn: 'blur' }">

			<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback text-danger" ng-if="RegisterForm.username.$pending.usernameExists"></span>

			<div ng-messages="RegisterForm.username.$error" class="error">
				<div ng-message="required">Your username is required</div>
				<div ng-message="usernameExists">Username exists already</div>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error' : RegisterForm.fullname.$dirty && RegisterForm.fullname.$invalid}">
			<label>Your full name</label>
			<input type="text" name="fullname" class="form-control" ng-model="fullname" required>
			<div ng-messages="RegisterForm.fullname.$error" class="error">
				<div ng-message="required">Your full name is required</div>
			</div>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" ng-model="password" name="password" required>

			<div ng-messages="RegisterForm.password.$error" class="error">
				<div ng-message="required">Password is required</div>
			</div>
		</div>
		<div class="form-group has-feedback">
			<label>Confirm Password</label>
			<input type="password" class="form-control" name="confirmPassword" required ng-model="confirmPassword" compare-to="password">
			<span class="form-control-feedback glyphicon glyphicon-remove text-danger" ng-show="RegisterForm.confirmPassword.$error.compareTo"></span>
			<span class="form-control-feedback glyphicon glyphicon-ok text-success" ng-show="!RegisterForm.confirmPassword.$error.compareTo && !RegisterForm.confirmPassword.$error.required"></span>

			<div ng-messages="RegisterForm.confirmPassword.$error" class="error">
				<div ng-message="required">Confirm password is required</div>
				<div ng-message="compareTo">Confirm paswword must match the password</div>
			</div>


		</div>
		<div>
			<a class="btn btn-primary" ng-click="register()">Register</a>
			<a href="#home" class="btn btn-link">Cancel</a>
		</div>
	</form>
</div>