<div ng-init="loadTransactionHistory()">
	<div class="col-sm-6 col-sm-offset-3" ng-if="checkCurrentAccountExist()">
		<h2 class="text-center">Transfer money</h2>

		<ng-include src="'app/components/customer/CustomerInfoView.html'"></ng-include>
		<br>

		<form class="well" novalidate name="TransferForm">
			<div class="form-group">
				<label>Amount</label>
				<input type="number" min="1" class="form-control" placeholder="Enter the amount of money you want to transfer" ng-model="amount" required max="{{currentAccount.balance}}" name="amount" ng-pattern="/^[0-9]+$/">

				<div ng-messages="TransferForm.amount.$error" class="error">
					<div ng-message="required">Please enter a value</div>
					<div ng-message="min">The money cannot be smaller than 1</div>
					<div ng-message="max">The money cannot be larger than your balance</div>
					<div ng-message="pattern">Money cannot contain cents</div>
				</div>
			</div>

			<div class="form-group">
				<label>The username you want to send money</label>
				<input type="text" name="usernameTo" class="form-control" placeholder="Enter the username of the person you want to transfer" ng-model="usernameTo" required>
				
				<div ng-messages="TransferForm.usernameTo.$error" class="error">
					<div ng-message="required">Please enter a username</div>
				</div>
				
			</div>

			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-disabled="TransferForm.$invalid" ng-click="transfer(usernameTo, amount)">
					Transfer
				</button>
			</div>
		</form>
		
		<div class="alert alert-success notification">
			<span class="glyphicon glyphicon-ok"></span>
			<strong>Success!</strong> Your transaction has been successfully
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		</div>
	</div>

	<h1 class="warning" ng-if="!checkCurrentAccountExist()">
		<i class="fa fa-exclamation-triangle"></i>
		Please login to use this service !!!
	</h1>
</div>
