<div ng-init="loadCurrentAccount()">
	<table class="table table-no-border text-center">
		<tbody>
			<tr>
				<td>Your id account: </td>
				<td>{{currentAccount.idAccount}}</td>
			</tr>
			<tr>
				<td>Your username: </td>
				<td>{{currentAccount.username}}</td>
			</tr>
			<tr>
				<td>Your full name: </td>
				<td>{{currentAccount.fullname}}</td>
			</tr>
			<tr>
				<td>Your balance: </td>
				<td>{{currentAccount.balance | currency : "$" : 0}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- <div class="text-center" ng-init="loadCurrentAccount()">

	<div class="row">
		<div class="col-sm-3">
			Your id account: 
		</div>
		<div class="col-sm-4"><label for="idAccount">
			{{currentAccount.idAccount}}
		</label></div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			Your username: 
		</div>
		<div class="col-sm-4"><label for="username">
			{{currentAccount.username}}
		</label></div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			Your full name: 
		</div>
		<div class="col-sm-4"><label for="fullname">
			{{currentAccount.fullname}}
		</label></div>
	</div>
	
	<div class="row">
		<div class="col-sm-3">
			Your balance: 
		</div>
		<div class="col-sm-4"><label for="balance">
			{{currentAccount.balance | currency : "$" : 0}}
		</label></div>
	</div>
</div> -->