<div class="container" ng-init="loadCurrentAccount()">

	<div class="row col-sm-7">
		<div class="col-sm-3">
			Your id account: 
		</div>
		<div class="col-sm-4"><label for="idAccount">
			{{currentAccount.idAccount}}
		</label></div>
	</div>

	<div class="row col-sm-7">
		<div class="col-sm-3">
			Your username: 
		</div>
		<div class="col-sm-4"><label for="username">
			{{currentAccount.username}}
		</label></div>
	</div>

	<div class="row col-sm-7">
		<div class="col-sm-3">
			Your full name: 
		</div>
		<div class="col-sm-4"><label for="fullname">
			{{currentAccount.fullname}}
		</label></div>
	</div>
	
	<div class="row col-sm-7">
		<div class="col-sm-3">
			Your balance: 
		</div>
		<div class="col-sm-4"><label for="balance">
			{{currentAccount.balance | currency : "$" : 0}}
		</label></div>
	</div>
</div>