<div id="wrapper" ng-init="loadTransactionHistory()">
	<div ng-if="checkCurrentAccountExist()">
		<ng-include src="'app/shared/NavBar/NavBar.html'"></ng-include>

		<div id="page-wrapper">
			<div>	
				<h2 class="text-center">Withdraw / Deposit</h2>

				<ng-include src="'app/components/customer/CustomerInfoView.html'">
				</ng-include>
				<br>

			<div class="row">
				<form class="well col-md-6 col-md-offset-3" novalidate name="depositForm">
				<div class="form-group">
					<label for="username">Amount</label>
					<input id="amount" name="amount" class="form-control" type="number" min="1" placeholder="Enter the amount of money you want to transact" required ng-model="amount" ng-pattern="/^[0-9]+$/" >

					<div ng-messages="depositForm.amount.$error" class="error">
						<div ng-message="required">Please enter a value</div>
						<div ng-message="min">The money cannot be smaller than 1</div>
						<div ng-message="pattern">Money cannot contain cents</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-6 text-center">
						<button type="button" class="btn btn-primary " type="submit" ng-disabled="depositForm.$invalid" ng-click="withDraw(amount)">Withdraw</button>
					</div>

					<div class="col-sm-6 text-center">
						<button type="button" class="btn btn-primary" ng-disabled="depositForm.$invalid" ng-click="deposit(amount)">Deposit</button>
					</div>
				</div>
			</form>
			</div>

			<div class="row">
				<div class="alert alert-success notification">
				<span class="glyphicon glyphicon-ok"></span>
				<strong>Success!</strong> Your transaction has been successfully
				<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
			</div>

			<div class="alert alert-danger" id="error-balance">
				<span class="glyphicon glyphicon-remove"></span>
				<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Danger!</strong> You cannot withdraw the amount of money more than your balance

			</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- <div ng-init="loadTransactionHistory()" >
	<div  class="col-sm-6 col-sm-offset-3" ng-if="checkCurrentAccountExist()">	

		<h2 class="text-center">Withdraw / Deposit</h2>

		<ng-include src="'app/components/customer/CustomerInfoView.html'"></ng-include>
		<br>

		<form class="well" novalidate name="depositForm">
			<div class="form-group">
				<label for="username">Amount</label>
				<input id="amount" name="amount" class="form-control" type="number" min="1" placeholder="Enter the amount of money you want to transact" required ng-model="amount" ng-pattern="/^[0-9]+$/" >
				
				<div ng-messages="depositForm.amount.$error" class="error">
					<div ng-message="required">Please enter a value</div>
					<div ng-message="min">The money cannot be smaller than 1</div>
					<div ng-message="pattern">Money cannot contain cents</div>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-6 text-center">
					<button type="button" class="btn btn-primary " type="submit" ng-disabled="depositForm.$invalid" ng-click="withDraw(amount)">Withdraw</button>
				</div>

				<div class="col-sm-6 text-center">
					<button type="button" class="btn btn-primary" ng-disabled="depositForm.$invalid" ng-click="deposit(amount)">Deposit</button>
				</div>
			</div>
		</form>

		<div class="alert alert-success notification">
			<span class="glyphicon glyphicon-ok"></span>
			<strong>Success!</strong> Your transaction has been successfully
			<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
		</div>

		<div class="alert alert-danger" id="error-balance">
			<span class="glyphicon glyphicon-remove"></span>
			<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Danger!</strong> You cannot withdraw the amount of money more than your balance
			
		</div>
	</div>

	<h1 class="warning"ng-if="!checkCurrentAccountExist()">
		<i class="fa fa-exclamation-triangle"></i>
		Please login to use this service !!!
	</h1>

	</div > -->