<div ng-init="loadTransactionHistory()" >
	<div  class="col-sm-8 col-sm-offset-2" ng-if="checkCurrentAccountExist()">	

		<h2 class="text-center">Withdraw / Deposit</h2>

		<ng-include src="'app/components/customer/CustomerInfoView.html'"></ng-include>
		<br>

		<form class="well" novalidate name="depositForm">
			<div class="form-group">
				<label for="username">Amount</label>
				<input id="amount" name="amount" class="form-control" type="number" min="1" placeholder="Enter the amount of money you want to transact" required ng-model="amount" max="{{currentAccount.balance}}" >
				
				<div ng-messages="depositForm.amount.$error" class="error">
					<div ng-message="required">Please enter a value</div>
					<div ng-message="min">The money cannot be smaller than 0</div>
					<div ng-message="max">The money cannot be larger than your balance</div>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-6 text-center">
					<button type="button" class="btn btn-primary " type="submit" ng-disabled="depositForm.$invalid" ng-click="withDraw(amount)">Withdraw</button>
				</div>

				<div class="col-sm-6 text-center">
					<button type="button" class="btn btn-primary" ng-disabled="depositForm.$invalid" ng-click="deposit(amount)">Deposit</button>
				</div>
			</div>
		</form>
	</div>

	<h1 class="warning"ng-if="!checkCurrentAccountExist()">
		<i class="fa fa-exclamation-triangle"></i>
		Please login to continue using the service !!!
	</h1>

	</div >